.surya{
    background-color: blue;
}
.hero{
    background-color: red;
}
.charan{
    background-color: green;
}
.kali{
    background-color: black;
    color:whitesmoke;
}
#abc{
    background-color: aqua;
}